<h1><%= human_name.pluralize %></h1>

<p>
  [more goes here]
</p>

<div class="btn-group" role="group">
  <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper(type: :path) %>, class: 'btn btn-dark' %>
  <%%= link_to "Edit", <%= edit_helper(type: :path) %>, class: 'btn btn-warning' %>
  <%%= link_to "Delete", <%= link_target "@#{singular_table_name}" %>, data: { 'turbo-method': :delete }, class: 'btn btn-danger' %>
</div>
