@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav {
  h6 {
    @extend .px-3;
    @extend .mt-2;
    @extend .mb-1;
    @extend .text-secondary;
    @extend .text-uppercase;
    font-size: .875rem;
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }

  div.nav-item {
    a {
      @extend .nav-link;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .gap-1;
      @extend .py-1;
      font-size: .875rem;
      font-weight: 500;

      &.active {
        font-weight: 700;
      }
    }
  }
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar {
  .form-control {
    @extend .my-1;
  }

  img {
    width: 2rem;
  }

  .navbar-brand {
    line-height: 1.0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
  }
}