<!DOCTYPE html>
<html>
  <head>
    <title><%%= content_for(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/apple-touch-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%%= javascript_importmap_tags %>
    <%%= font_awesome_tag %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%%= image_tag 'logo.svg' %>
          Application
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <%%= icon 'bars' %>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          </ul>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
              <div class="nav flex-column me-auto">
                
              </div>
            </div>
          </div>
        </div>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="mt-3">
            <%% flash.each do |type, value| %>
              <div class="alert <%%= flash_to_class(type) %> alert-dismissible fade show" role="alert">
                <i class="bi flex-shrink-0 me-2 fa-solid <%%= flash_to_icon(type) %>"></i>
                <%%= value %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <%% end %>
          </div>

          <%%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
